:root{
    --primary-font: 'Inter', sans-serif;
    --second-font: 'Lexend Deca', sans-serif;
    --main-color: hsl(233, 47%, 7%);
    --second-color: hsl(244, 38%, 16%);
    --third-color: hsl(277, 64%, 61%);
    --p-color: hsla(0, 0%, 100%, 0.75);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    background-color: var(--main-color);
}

main{
    width: 100%;
    min-width: 375px;
}
.card{
    margin: 20px auto;
    width: 300px;

    background-color: var(--second-color);
    border-radius: 15px;
    overflow: hidden;
    color: wheat;
    font-family: var(--primary-font);
}
.card--img{  
    display: flex;
    position: relative; 
}
.card--img img{
    width: 100%;
    height: 100%;
}
.card--img div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    opacity: 60%;
}
.card--text{
    padding: 40px;
    text-align: center;
}
.card--text h1{
    font-weight: 700;
}
.card--text p{
    font-size: 1.2rem;
    padding: 15px 0 0 10px;
    font-weight: normal;
    font-family: var(--second-font);  
    line-height: 2rem;  
    color: var(--p-color);
}
.card--text span{
    color: var(--third-color);
}
.card--final{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: var(--p-color);
    line-height: 2rem;
}
.card--final div{
    margin-bottom: 20px;
}
.card--final div span{
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
